.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px 12px 20px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
}

.chat:hover {
  opacity: 0.8;
}

.chatAvatar {
  height: 40px !important;
  width: 40px !important;
}

.chatReadIcon {
  color: #ed3b55;
  font-size: 30px !important;
}

.chatInfo {
  padding-left: 15px;
  flex: 1;
}

.chatInfo > h4 {
  font-size: 14px;
  font-weight: 500;
}

.chatInfo > p {
  font-size: 11px;
}
