.chats {
  position: relative;
  height: 83vh;
  width: 65vw;
}

.chatsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2f4858;
  height: 10vh;
}

.chatsAvatar {
  height: 40px !important;
  width: 40px !important;
  cursor: pointer;
}

.chatSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding-left: 15px;
}

.chatSearch > input {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 15px;
  flex: 1;
  color: white;
}

.chatSearch > input::placeholder {
  color: white;
  opacity: 1;
}

.chatsSearchIcon {
  color: white;
  font-size: 24px !important;
  margin-right: 7px !important;
}

.logoutIcon {
  color: white;
  font-size: 24px !important;
  cursor: pointer;
}

.chatsPosts {
  box-shadow: 1px -7px 7px -6px #00000070;
  height: 74vh;
  margin-top: -9px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  overflow: scroll;
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /*Firefox*/
}

.chatsPosts::-webkit-scrollbar {
  display: none;
}

.chatsPhotoIcon {
  position: absolute;
  background-color: white;
  border-radius: 200px;
  color: gray;
  font-size: 50px !important;
  cursor: pointer;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chatsPhotoIcon:hover {
  opacity: 0.8;
}
