.preview {
  position: relative;
}

.previewClose {
  position: absolute;
  top: 0;
  font-size: 40px !important;
  margin: 10px;
  cursor: pointer;
  color: white;
}

.previewToolbarRight {
  color: white;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.previewToolbarRight > .MuiSvgIcon-root {
  font-size: 40px !important;
  margin-bottom: 14px;
  cursor: pointer;
}

.previewFooter {
  position: absolute;
  bottom: 0;
  right: -50px;
  transform: translate(-50%, -50%);
  background-color: #ffae00;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 12px;
  cursor: pointer;
  border: 1px solid black;
}

.previewFooter:hover {
  box-shadow: 1px 1px 3px 0px #000000bf;
}

.previewFooter > h2 {
  font-size: 16px;
  margin: 0 5px 2px 5px;
}

.previewSendIcon {
  font-size: 25px !important;
}
